/* Задает переменные для цвета */
/*
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
  }
  
  .logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-decoration: none;
  }
  .logo-web {
    color: var(--accent-color);
  }
  
  .list {
    list-style-type: none;
  }
  
  .link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  
  .contact-link {
    color: var(--primary-text-color);
  }
  
  .link:hover,
  .link:focus {
    color: var(--accent-color);
  } */
